<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<h3>Some of the popular languages that Data Scientists use are:</h3>

<ol>        
    <li> Python</li>
    <li> R </li>
    <li> Java </li>

</ol>

<h3> Some of the commonly used libraries used by Data Scientists include:  </h3>

<ol>
    <li>Scikit-learn </li>
    <li>TensorFlow</li>
     <li> kares </li>
    
    
</ol>

<table style="width:20%">
<tr>
<th> Data Science Tools</th>

</tr>

<tr>
<td>Aache Spark</td>

</tr>
    
<tr>
<td>Apache Kafka</td>

</tr>    
    
  <tr>
<td>Apache Hadoop</td>

</tr>  
    
 </table>

<h3>  Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
minuts= 200 
hours = minuts/60
int(hours)

3

<b> Objectives: </b>

<ul>
    <li>Python</li>
    <li>R</li>
    <li>Julia</li>
</ul>

<h2> Author </h2>
<b style="color:blue">Abdurrahim Hassan Kururu</b>